--index-url https://download.pytorch.org/whl/cpu
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
streamlit
asyncpraw
attrs
blinker
click
numpy<2.0
pandas
matplotlib
nest-asyncio
plotly
seaborn
transformers==4.47.0
wordcloud==1.9.4
tqdm
nltk
scikit-learn
fpdf
torch==2.5.1 
