altair
streamlit
asyncpraw
attrs
blinker
click
numpy==1.26.4
pandas
matplotlib
nest-asyncio
plotly
seaborn
transformers==4.38.2
wordcloud==1.9.4
tqdm
nltk
scikit-learn
fpdf
torch==2.2.0 --index-url https://download.pytorch.org/whl/cpu
termcolor
aiohttp
pipeline
ftfy==6.1.1
