streamlit
asyncpraw
numpy
pandas
matplotlib
nest-asyncio
plotly
seaborn
transformers
wordcloud
tqdm
nltk
scikit-learn
fpdf
torch==2.5.1+cu118
torchvision==0.20.1+cu118
torchaudio==2.5.1+cu118
-f https://download.pytorch.org/whl/cu118/torch_stable.html
